.corpo{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 150px;
}

.conteudos-art{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.conteudo{
    max-width: 500px;
    text-align: justify;
}

.tela-inicial{
    font-size: 4em;
}

.sobre-mim{
    font-size: 1.4em;
}

.eu-img{
    margin: 0 auto;
}

.imagem-eu{
    max-width: 400px;
}